body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'B612', sans-serif;
}

html, body, div, span, button, a, small, select, option, optgroup, ul, li, img, tr, table, tbody, td {
    font-family: 'B612', sans-serif;
}

textarea {
    font-family: 'B612', sans-serif;
}

ul {
    padding-right: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

a {
    color: #303F9F !important;
}

a:hover {
    text-decoration: none;
}

button:focus, input:focus, a:focus {
    outline: none;
}


.passText {
    color: #f20000;
}

.first-slide {
    height: 500px;
}

.first-slide img {
    height: 100%;
}

img {
    margin: 0 !important;
    padding: 0 !important;
}


.nav li a:hover {
    color: #c8ccc5;
}

.navbar-brand img {
    width: 45px;
    height: 45px;
}

.btnSubmit {
    padding: 8px 10px;
    border-radius: 4px;
    color: white;
    border: none;
}

.my-nav a {
    color: #212121;
    border: 1px solid #BDBDBD;
    margin: 3px;
    border-radius: 7px;
    background-color: #FFFFFF;
}

.my-nav li a:hover {
    background-color: #e7e7e7;
    transform: scale(1.1);
    transition-duration: 0.8s;
    border: 1px dashed #3F51B5 !important;
}

#home {
    background-color: #00BCD4;
}