body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'B612', sans-serif;
}

html, body, div, span, button, a, small, select, option, optgroup, ul, li, img, tr, table, tbody, td {
    font-family: 'B612', sans-serif;
}

textarea {
    font-family: 'B612', sans-serif;
}

ul {
    padding-right: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

a {
    color: #303F9F !important;
}

a:hover {
    text-decoration: none;
}

button:focus, input:focus, a:focus {
    outline: none;
}


.passText {
    color: #f20000;
}

.first-slide {
    height: 500px;
}

.first-slide img {
    height: 100%;
}

img {
    margin: 0 !important;
    padding: 0 !important;
}


.nav li a:hover {
    color: #c8ccc5;
}

.navbar-brand img {
    width: 45px;
    height: 45px;
}

.btnSubmit {
    padding: 8px 10px;
    border-radius: 4px;
    color: white;
    border: none;
}

/********************************* NavBar Style ***************************/

.my-nav-list ul li a {
    margin-right: 24px;
}

.my-nav {
    background-color: #C5CAE9;
}

.navbar-buttons .dropdown-menu {
    margin: 10px 0 0 0 !important;
}

.navbar-buttons .navbar-btn {
    color: #303F9F;
    transition-duration: 0.4s;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #303F9F;
    background-color: transparent;
    text-decoration: none !important;
}

.navbar-buttons a:hover {
    color: white !important;
    background: #303F9F;
}

.my-nav-list .navbar-nav ul {
    display: table;
    text-align: center;
}

.my-nav-list .navbar-nav li {
    display: table-cell;
    position: relative;
}

.my-nav-list .navbar-nav ul a {
    color: #3F51B5;
    display: inline-block;
    position: relative;
}

.my-nav-list .navbar-nav ul a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #3F51B5;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.my-nav-list .navbar-nav ul a:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-width: 900px) {
    .navbar-buttons {
        margin: 20px 0 !important;
    }

    .navbar-buttons .navbar-btn {
        padding: 8px !important;
    }

    .dashNavList {
        position: inherit !important;
        right: 0 !important;
    }

    .dashNavList a {
        margin-right: 10px !important;
    }

}

/******************************** Dashboard Style **************************/

.dashNav {
    padding: 2px 0 !important;
    position: relative;
}

.dashNavList {
    position: absolute;
    right: 17%;
}

.dashNavList span {
    color: #3F51B5;
    display: inline-block;
}

.dashNav ul {
    display: table;
    text-align: center;
}

.dashNavList li {
    display: table-cell;
    position: relative;
}

.dashNavList a {
    color: #3F51B5;
    display: inline-block;
    margin-right: 40px;
    position: relative;
}

.dashNavList a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #3F51B5;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.dashNavList a:hover:after {
    width: 100%;
    left: 0;
}

/******************************** index Style **************************/
img {
    vertical-align: 0 !important;
}

#my-div {
    display: inline-block;

}

@media screen and (max-width: 900px) {
    #my-img {
        margin-left: 38px !important;
        margin-top: 5px !important;
    }

    #my-img1 {
        margin-left: 42px !important;
        margin-top: 5px !important;
    }

    #my-img2 {
        margin-left: 42px !important;
        margin-top: 5px !important;
    }

    #reg {
        margin-bottom: 20px !important;
    }
}

/*@media screen and (min-width: 900px) {

    .box3 {
        margin-left: 35px !important;
    }

    .box2 {
        margin-left: 35px !important;
    }
}*/


.my-text {
    display: inline-block !important;
    margin-top: 2px;
}

.my-imag {
    display: inline-block !important;
    padding: 5px 4px 8px 5px !important;
}

.box3 {
    border-radius: 5px;
    display: inline-block !important;
}

.box2 {
    border-radius: 5px;
    display: inline-block !important;
}

.box1 {
    border-radius: 5px;
    display: inline-block !important;
}

.my-news {
    border-radius: 5px;
}